html {
    height: 100%
}

body {
    display: flex;
    margin: 0;
    height: 100%;
}


/*header*/

header {
    flex: 0;
}


/*footer*/

footer {
    flex: 0;
    align-self: center;
}

.root {
    flex: 1;
    display: flex;
    border: solid 1px red"

}

.main-content {
    flex: 1;
}